In [147]:
import pandas as pd
import numpy as np

In [148]:
df = pd.read_csv("../../data/interim/interim_data.csv", low_memory=False)
df.head()

,match_id,completion_date,contact_notes,big_county,big_age,big_occupation,big_military,big_level_of_education,big_languages,big_gender,...,little_interest_entertainment,little_other_interest,little_other_interests,little_interest_career,little_interest_personality,little_interest_three_wishes,little_gender,little_participant_race/ethnicity,little_birthdate,match_length
0,a1v2J0000028pRvQAI,2017-11-30,Question: Activities: Answer: See ms...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
1,a1v2J0000028pRvQAI,2017-10-31,Question: Activities: Answer: See MS...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
2,a1v2J0000028pRvQAI,2017-12-01,Question: Activities: Answer: Match ...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
3,a1v2J0000028pRvQAI,2017-05-29,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0
4,a1v2J0000028pRvQAI,2017-04-30,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,NaN,Masters Degree,No Preference,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,Female,Black or African American,2004-01-01,9.0

In [149]:
df.dropna(axis=0)

Empty DataFrame
Columns: [match_id, completion_date, contact_notes, big_county, big_age, big_occupation, big_military, big_level_of_education, big_languages, big_gender, big_birthdate, program, program_type, big_race/ethnicity, rationale_for_match, big_enrollment:_record_type, big_car_access, big_open_to_cross-gender_match, big_re_enroll, big_former_big/little, big_interest_sports, big_interest_places_to_go, big_interest_hobbies, big_interest_entertainment, big_volunteer_availability, big_marital_status, little_language(s)_spoken, little_interest_sports, little_interest_outdoors, little_interest_arts, little_interest_places_to_go, little_interest_hobbies, little_interest_entertainment, little_other_interest, little_other_interests, little_interest_career, little_interest_personality, little_interest_three_wishes, little_gender, little_participant_race/ethnicity, little_birthdate, match_length]
Index: []

[0 rows x 42 columns]

In [150]:
df.fillna(0, inplace=True)

In [151]:
object_type = df.select_dtypes(include=['object']).columns.to_list()
object_type

['match_id',
 'completion_date',
 'contact_notes',
 'big_county',
 'big_occupation',
 'big_military',
 'big_level_of_education',
 'big_languages',
 'big_gender',
 'big_birthdate',
 'program',
 'program_type',
 'big_race/ethnicity',
 'rationale_for_match',
 'big_enrollment:_record_type',
 'big_car_access',
 'big_open_to_cross-gender_match',
 'big_former_big/little',
 'big_interest_sports',
 'big_interest_places_to_go',
 'big_interest_hobbies',
 'big_interest_entertainment',
 'big_volunteer_availability',
 'big_marital_status',
 'little_language(s)_spoken',
 'little_interest_sports',
 'little_interest_outdoors',
 'little_interest_arts',
 'little_interest_places_to_go',
 'little_interest_hobbies',
 'little_interest_entertainment',
 'little_other_interest',
 'little_other_interests',
 'little_interest_career',
 'little_interest_personality',
 'little_interest_three_wishes',
 'little_gender',
 'little_participant_race/ethnicity',
 'little_birthdate']

In [152]:
# take care of null values
def remove_groups_with_only_nan(df, column):
    mask = df.groupby('match_id')[column].transform(lambda x: (x == "0").all())
    return df[~mask]
for col in object_type:
    df_filtered = remove_groups_with_only_nan(df, col)
df_filtered

,match_id,completion_date,contact_notes,big_county,big_age,big_occupation,big_military,big_level_of_education,big_languages,big_gender,...,little_interest_entertainment,little_other_interest,little_other_interests,little_interest_career,little_interest_personality,little_interest_three_wishes,little_gender,little_participant_race/ethnicity,little_birthdate,match_length
0,a1v2J0000028pRvQAI,2017-11-30,Question: Activities: Answer: See ms...,Hennepin,40,Unemployed,0,Masters Degree,No Preference,Female,...,0,0,0,0,0,0,Female,Black or African American,2004-01-01,9.0
1,a1v2J0000028pRvQAI,2017-10-31,Question: Activities: Answer: See MS...,Hennepin,40,Unemployed,0,Masters Degree,No Preference,Female,...,0,0,0,0,0,0,Female,Black or African American,2004-01-01,9.0
2,a1v2J0000028pRvQAI,2017-12-01,Question: Activities: Answer: Match ...,Hennepin,40,Unemployed,0,Masters Degree,No Preference,Female,...,0,0,0,0,0,0,Female,Black or African American,2004-01-01,9.0
3,a1v2J0000028pRvQAI,2017-05-29,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,0,Masters Degree,No Preference,Female,...,0,0,0,0,0,0,Female,Black or African American,2004-01-01,9.0
4,a1v2J0000028pRvQAI,2017-04-30,Question: Activities: Answer: Msc as...,Hennepin,40,Unemployed,0,Masters Degree,No Preference,Female,...,0,0,0,0,0,0,Female,Black or African American,2004-01-01,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39340,a1vUX000001PyJlYAK,2025-02-13,PC and BB completed match support contact in p...,Hennepin,33,Consultant,No,0,0,Male,...,0,0,0,0,0,0,Male,Black or African American,2014-09-01,3.2
39341,a1vUX000001PyJlYAK,2025-01-15,PC and BB completed match support contact via ...,Hennepin,33,Consultant,No,0,0,Male,...,0,0,0,0,0,0,Male,Black or African American,2014-09-01,3.2
39342,a1vUX000001PyJlYAK,2024-12-19,PC and BB completed introduction match support...,Hennepin,33,Consultant,No,0,0,Male,...,0,0,0,0,0,0,Male,Black or African American,2014-09-01,3.2
39343,a1vUX000001UAe5YAG,2025-02-07,PC and BB completed match support contact via ...,Hennepin,22,Business: Sales,No,0,0,Male,...,0,0,0,0,0,0,Male,Black or African American,2011-04-01,3.2
39344,a1vUX000001UAe5YAG,2024-12-10,PC and BB completed introduction match support...,Hennepin,22,Business: Sales,No,0,0,Male,...,0,0,0,0,0,0,Male,Black or African American,2011-04-01,3.2